@using AcademicPramotions.ViewModels
@model IEnumerable<AcademicPramotions.ViewModels.SponseringDetailsVM>
@{
    ViewBag.Title = "GetUploadedArtwork";
    Layout = "~/Views/Shared/login_Layout.cshtml";
}
<style>  
table#t01 {  
width: 100%;  
background-color: #f1f1c1;  
}  
  
table#t01 tr:nth-child(even) {  
background-color: #eee;  
}  
table#t01 tr:nth-child(odd) {  
background-color: #fff;  
}  
table#t01 th {  
color: white;  
background-color:gray;  
}  
table, th, td {  
border: 1px solid black;  
}  
table, th, td {  
border: 1px solid black;  
border-collapse: collapse;  
}  
table, th, td {  
border: 1px solid black;  
border-collapse: collapse;  
}  
th, td {  
padding: 5px;  
}  
</style>
<div>
    <table id="t01">
        <thead>
            <th>School Name</th>
            <th>Sponsor Name</th>
            <th>Invoice</th>
            <th>Sport Name</th>
            <th>Season Name</th>
            <th>Items Sponsoring</th>
        </thead>
        @foreach (var item in Model)
        {  
            <tr>
                <td>@item.SchoolName</td>
                <td>@item.SponsorName</td>
                <td>@item.Invoice</td>
                <td>@item.SportName</td>
                <td>@item.SeasonName</td>
                <td>@item.ItemsSponsering</td>
            </tr>  
        }
    </table>
</div>